:root {
    --theme-color: #252525
}

.main {

    .slideContainer {

        .cardContainer {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            top: 0;
            .card {
                height: 15rem;
                width: 30rem;
                border-radius: 15px;
                position: relative;
            }
        }
    }
}